body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid black;
}

.td-center {
  text-align: center;
}

.container {
  display: flex;
}

.sidebar {
  padding: 1em;
  border-right: 1px solid black;
  margin-right: 2em;
}