body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  margin-bottom: 1em;
}

.header-dynamic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
}

main, form, .btn-container {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid black;
}

input, textarea {
  margin-bottom: 1em;
}

.td-center {
  text-align: center;
}

.main-content {
  display: flex;
}

.sidebar {
  padding: 1em 1em 1em 0;
  border-right: 1px solid black;
  margin-right: 2em;
}

.card-btn {
  width: fit-content;
  text-decoration: none;
  font-weight: bolder;
  padding: .35em 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  background-color: #f6f8fa;
  border: 1px solid gray;
}

.btn-update {
  color: #f7a000;
}

.btn-update:hover,
.btn-update:focus {
  color: #f6f8fa;
  background-color: #f7a000;
}

.btn-delete {
  color: #cf222e;
}

.btn-delete:hover,
.btn-delete:focus {
  color: #f6f8fa;
  background-color: #cf222e;
}